<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediGuide</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link CSS-->
    <link href="/stylesheets/style.css" rel="stylesheet">
     <!-- Link Swiper's CSS -->
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
     <!-- Fontawesome CDN Link -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>

<body>
  <div class="Website">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">MediGuide</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#hero-text">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Hospital">Hospitals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#AboutText">About Us</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-info">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header Section -->
    <section class="header-section">
        <div class="container">
            <div class="row align-items-center" >
                <div class="col-md-6">
                    <h1 class="hero-text">Find the Perfect Hospital for Your Health Needs</h1>
                    <p class="mt-3">Search for specialized care tailored to your condition, and get the best treatment options instantly.
                    </p>
                   <!-- search box-->
                    <form action="/scarch"  method="post">
                      <div class="search-container">
                        <input type="text" name="treatment" class="search-box" placeholder="Search..." />
                        <button type="submit" class="search-btn">Search</button>
                      </div>
                        <!-- <input type="text" placeholder="Search here..." name="treatment">
                        <button type="submit"><img src="Images/search.png"></button> -->
                    </form>
                </div>
                <div class="col-md-6 text-center">
                    <img src="images/doctor.png" alt="h4si" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
  
<!-- Hospitals Section-->
<h1 class="heading"  id="Hospital"> Hospitals </h1>
 <div class="Card-container">
       <section class="Hospital-section">
         <div class="swiper mySwiper container">
          <div class="swiper-wrapper content">
            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="images/ExcelCare.jpg" alt="">
                </div>
                   <div class="name-profession">
                  <span class="name">Apollo Excelcare Hospital</span>
                  <span class="profession">Guwahati</span>
                </div>
                    <div class="button">
                  <button class="aboutMe">About Me</button>
                    </div>
              </div>
            </div>
           
            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="images/Nemcare.jpg" alt="">
                </div>
                    <div class="name-profession">
                  <span class="name">Nemcare Hospital</span>
                  <span class="profession">Guwahati</span>
                </div>
                 <div class="button">
                  <button class="aboutMe">About Me</button> 
                </div>
              </div>
            </div>
            
            
            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="images/Pratiksha.jpg" alt="">
                </div>
                  <div class="name-profession">
                  <span class="name">Pratiksha Hospital</span>
                  <span class="profession">Guwahati</span>
                </div>
                <div class="button">
                  <button class="aboutMe">About Me</button>
                </div>
              </div>
            </div>
            
            
            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="images/DownTown.jpg" alt="">
                </div>
                      <div class="name-profession">
                  <span class="name">Down Town Hospital</span>
                  <span class="profession">Guwahati</span>
                </div>
                 <div class="button">
                  <button class="aboutMe">About Me</button>
                </div>
              </div>
            </div>
           
           
            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="images/GhyMetro.jpg" alt="">
                </div>
                  <div class="name-profession">
                  <span class="name">Guwahati Metro Hospital</span>
                  <span class="profession">Guwahati</span>
                </div>
                    <div class="button">
                  <button class="aboutMe">About Me</button>
                 </div>
              </div>
            </div>


            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="images/GNRC.jpg" alt="">
                </div>
                  <div class="name-profession">
                  <span class="name">GNRC Hospital</span>
                  <span class="profession">Guwahati</span>
                </div>
                 <div class="button">
                  <button class="aboutMe">About Me</button>
                 </div>
              </div>
            </div>


            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="/images/HealthCity.jpg" alt="">
                </div>
                  <div class="name-profession">
                  <span class="name">Health City Hospital</span>
                  <span class="profession">Guwahati</span>
                </div>
                 <div class="button">
                  <button class="aboutMe">About Me</button>
                </div>
              </div>
            </div>


            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="/images/Narayana.jpg" alt="">
                </div>
                  <div class="name-profession">
                  <span class="name">Narayana Hospital</span>
                  <span class="profession">Guwahati</span>
                </div>                    <div class="button">
                  <button class="aboutMe">About Me</button>
                </div>
              </div>
            </div>


            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="/images/Hayat.jpg" alt="">
                </div>
                <div class="name-profession">
                  <span class="name">Hayat Hospital</span>
                  <span class="profession">Guwahati</span>
                </div>
                <div class="button">
                  <button class="aboutMe">About Me</button>
                </div>
              </div>
            </div>

          </div>
        </div>
    
        <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
      </section>  

       <!-- About Section -->
    
       <section class="About-section"> 
        <div class="">
            <div class="Abouttext" id="AboutText">
                <div class=" align-items-center"> 
                     
                         <h1 class="h1"> About Us </h1><br>
                      <h5 class="h5"> Welcome to MediGuide, your trusted partner in navigating the healthcare landscape. Our mission is to bridge the gap between patients and the right medical facilities, ensuring that you receive the best care for your specific needs.</h5>
                      <p class="p1"> At MediGuide, we understand that finding the right hospital for a particular illness can be a daunting and complex task. Our innovative platform is designed to simplify this process by providing tailored recommendations based on your unique medical condition. Whether you're seeking specialized treatment, advanced diagnostics, or expert care, MediGuide is here to guide you every step of the way. </p>
                      <p class="p2"> Our team is dedicated to harnessing the power of technology and medical data to deliver accurate and reliable hospital information. We partner with a network of top healthcare providers and use a comprehensive database to ensure that our recommendations are both relevant and up-to-date.
                          <br> With MediGuide, you can focus on what truly matters – your health and well-being. Let us take the guesswork out of finding the right hospital, so you can receive the quality care you deserve. </p>
                    </div> 
              </div> 
            </div>
        </div>
    </section>
  
  <hr>
  <!-- Contact Container -->
  <div class="containerrr">
    <span class="big-circle"></span>
    <img src="img/shape.png" class="square" alt="" />
    <div class="form">
      <div class="contact-info">
        <h3 class="title">Let's get in touch</h3>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
          dolorum adipisci recusandae praesentium dicta!
        </p>

        <div class="info">
          <div class="information">
            <img src="img/location.png" class="icon" alt="" />
            <p>Guwahati</p>
          </div>
          <div class="information">
            <img src="img/email.png" class="icon" alt="" />
            <p>lorem@Hasi.com</p>
          </div>
          <div class="information">
            <img src="img/phone.png" class="icon" alt="" />
            <p>+91 123-456-789</p>
          </div>
        </div>

        <div class="social-media">
          <p>Connect with us :</p>
          <div class="social-icons">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://in.linkedin.com/in/h4si">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="contact-form">
        <span class="circle one"></span>
        <span class="circle two"></span>
        <form action="https://api.web3forms.com/submit" method="POST" >
          <input type="hidden" name="access_key" value="4268303c-fa5c-48d8-8a3f-1a41ff6aa1f6">
          <h3 class="title">Contact us</h3>
          <div class="input-container">
            <input type="text" name="name" class="input" />
            <label for="">Username</label>
            <span>Username</span>
          </div>
          <div class="input-container">
            <input type="email" name="email" class="input" />
            <label for="">Email</label>
            <span>Email</span>
          </div>
          <div class="input-container">
            <input type="tel" name="phone" class="input" />
            <label for="">Phone</label>
            <span>Phone</span>
          </div>
          <div class="input-container textarea">
            <textarea name="message" class="input"></textarea>
            <label for="">Message</label>
            <span>Message</span>
          </div>
          
          <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
          <input type="submit" value="submit" class="btn" />
        </form>
      </div>
    </div>
  </div>

    <!-- Footer Section -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3">
            © 2024 Hasi. All rights reserved.
        </div>
    </footer>
  </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Swiper JS -->
   <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
   <script src="/javascripts/swiper.js"></script>
   <script src="/javascripts/form.js"></script>
   <script src=""> </script>
</body>
</html>

<!-- class="search-bar" id="Searchbox" -->